version: "3.9"

services:
  nginx:
    container_name: nginx
    build:          ./requirements/nginx
    env_file:       .env
    networks:
      - inception
    ports:
      - "443:443"
    restart:         unless-stopped
    volumes:
      - wordpress-data:/var/www/html/
    depends_on:
      - wordpress
  wordpress:
    container_name: wordpress
    build:          ./requirements/wordpress
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped
    volumes:
      - wordpress-data:/var/www/html/
    depends_on:
      - mariadb
      - redis
  mariadb:
    container_name: mariadb
    build:          ./requirements/mariadb
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped
    volumes:
      - mariadb-data:/var/lib/mysql/
  redis:
    container_name: redis
    build:          ./requirements/bonus/redis
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped

volumes:
  wordpress-data:
    driver: local
    driver_opts:
      device: ${DATA_PATH}/wordpress
      o:      bind
      type:   none
  mariadb-data:
    driver: local
    driver_opts:
      device: ${DATA_PATH}/mariadb
      o:      bind
      type:   none

networks:
  inception:
    name:   inception
    driver: bridge
