version: "3.9"

services:
  nginx:
    container_name: nginx
    image:          nginx:inception
    build:          ./requirements/nginx
    env_file:       .env
    networks:
      - inception
    ports:
      - "443:443"
    restart:         unless-stopped
    volumes:
      - wordpress-data:/var/www/html/
    depends_on:
      - wordpress
  wordpress:
    container_name: wordpress
    image:          wordpress:inception
    build:          ./requirements/wordpress
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped
    volumes:
      - wordpress-data:/var/www/html/
    depends_on:
      - mariadb
      - redis
  mariadb:
    container_name: mariadb
    image:          mariadb:inception
    build:          ./requirements/mariadb
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped
    volumes:
      - mariadb-data:/var/lib/mysql/
  redis:
    container_name: redis
    image:          redis:inception
    build:          ./requirements/bonus/redis
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped
  adminer:
    container_name: adminer
    image:          adminer:inception
    build:          ./requirements/bonus/adminer
    networks:
      - inception
    restart:        unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - mariadb
  ftp:
    container_name: ftp
    image:          ftp:inception
    build:          ./requirements/bonus/ftp
    env_file:       .env
    networks:
      - inception
    restart:        unless-stopped
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - wordpress-data:/var/www/html/wordpress

volumes:
  wordpress-data:
    driver: local
    driver_opts:
      device: ${DATA_PATH}/wordpress
      o:      bind
      type:   none
  mariadb-data:
    driver: local
    driver_opts:
      device: ${DATA_PATH}/mariadb
      o:      bind
      type:   none

networks:
  inception:
    name:   inception
    driver: bridge
